#Ejercicio 1

In [8]:
#Imprimir un listado con los números del 1 al 100 cada uno con su respectivo cuadrado
def main ():
  for i in range (0,101): #Definimos el ciclo
    print ("El cuadrado de", i ,"es", i**2) #imprimir los resultados del ciclo
if __name__=="__main__":
  main ()

El cuadrado de 0 es 0
El cuadrado de 1 es 1
El cuadrado de 2 es 4
El cuadrado de 3 es 9
El cuadrado de 4 es 16
El cuadrado de 5 es 25
El cuadrado de 6 es 36
El cuadrado de 7 es 49
El cuadrado de 8 es 64
El cuadrado de 9 es 81
El cuadrado de 10 es 100
El cuadrado de 11 es 121
El cuadrado de 12 es 144
El cuadrado de 13 es 169
El cuadrado de 14 es 196
El cuadrado de 15 es 225
El cuadrado de 16 es 256
El cuadrado de 17 es 289
El cuadrado de 18 es 324
El cuadrado de 19 es 361
El cuadrado de 20 es 400
El cuadrado de 21 es 441
El cuadrado de 22 es 484
El cuadrado de 23 es 529
El cuadrado de 24 es 576
El cuadrado de 25 es 625
El cuadrado de 26 es 676
El cuadrado de 27 es 729
El cuadrado de 28 es 784
El cuadrado de 29 es 841
El cuadrado de 30 es 900
El cuadrado de 31 es 961
El cuadrado de 32 es 1024
El cuadrado de 33 es 1089
El cuadrado de 34 es 1156
El cuadrado de 35 es 1225
El cuadrado de 36 es 1296
El cuadrado de 37 es 1369
El cuadrado de 38 es 1444
El cuadrado de 39 es 1521
El cuadrado de 40 es 1600
El cuadrado de 41 es 1681
El cuadrado de 42 es 1764
El cuadrado de 43 es 1849
El cuadrado de 44 es 1936
El cuadrado de 45 es 2025
El cuadrado de 46 es 2116
El cuadrado de 47 es 2209
El cuadrado de 48 es 2304
El cuadrado de 49 es 2401
El cuadrado de 50 es 2500
El cuadrado de 51 es 2601
El cuadrado de 52 es 2704
El cuadrado de 53 es 2809
El cuadrado de 54 es 2916
El cuadrado de 55 es 3025
El cuadrado de 56 es 3136
El cuadrado de 57 es 3249
El cuadrado de 58 es 3364
El cuadrado de 59 es 3481
El cuadrado de 60 es 3600
El cuadrado de 61 es 3721
El cuadrado de 62 es 3844
El cuadrado de 63 es 3969
El cuadrado de 64 es 4096
El cuadrado de 65 es 4225
El cuadrado de 66 es 4356
El cuadrado de 67 es 4489
El cuadrado de 68 es 4624
El cuadrado de 69 es 4761
El cuadrado de 70 es 4900
El cuadrado de 71 es 5041
El cuadrado de 72 es 5184
El cuadrado de 73 es 5329
El cuadrado de 74 es 5476
El cuadrado de 75 es 5625
El cuadrado de 76 es 5776
El cuadrado de 77 es 5929
El cuadrado de 78 es 6084
El cuadrado de 79 es 6241
El cuadrado de 80 es 6400
El cuadrado de 81 es 6561
El cuadrado de 82 es 6724
El cuadrado de 83 es 6889
El cuadrado de 84 es 7056
El cuadrado de 85 es 7225
El cuadrado de 86 es 7396
El cuadrado de 87 es 7569
El cuadrado de 88 es 7744
El cuadrado de 89 es 7921
El cuadrado de 90 es 8100
El cuadrado de 91 es 8281
El cuadrado de 92 es 8464
El cuadrado de 93 es 8649
El cuadrado de 94 es 8836
El cuadrado de 95 es 9025
El cuadrado de 96 es 9216
El cuadrado de 97 es 9409
El cuadrado de 98 es 9604
El cuadrado de 99 es 9801
El cuadrado de 100 es 10000

#Ejercicio 2

In [13]:
# Imprimir los números impares desde 1 hasta 999
print("Números impares desde 1 hasta 999")
a = 1 # Asigno el valor de 1 a la variable
while a <= 999:#Inicio el bucle desde a hasta 999
    print(a, end=" ")
    a=a+2 #Sigo el bucle de tal forma que siga con la secuencia de los numeros impares, es decir, sumo 2
print ("\b")
# Imprimir los números pares desde 2 hasta 1000
print("Números pares desde 2 hasta 1000")
b = 2 # Asigno el valor de 2 a la variable
while b <= 1000:#Inicio el bucle desde b hasta 1000
    print(b,end=" ")
    b=b+2 #Sigo el bucle de tal forma que siga con la secuencia de los numeros pares, es decir, sumo 2

Números impares desde 1 hasta 999
1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99 101 103 105 107 109 111 113 115 117 119 121 123 125 127 129 131 133 135 137 139 141 143 145 147 149 151 153 155 157 159 161 163 165 167 169 171 173 175 177 179 181 183 185 187 189 191 193 195 197 199 201 203 205 207 209 211 213 215 217 219 221 223 225 227 229 231 233 235 237 239 241 243 245 247 249 251 253 255 257 259 261 263 265 267 269 271 273 275 277 279 281 283 285 287 289 291 293 295 297 299 301 303 305 307 309 311 313 315 317 319 321 323 325 327 329 331 333 335 337 339 341 343 345 347 349 351 353 355 357 359 361 363 365 367 369 371 373 375 377 379 381 383 385 387 389 391 393 395 397 399 401 403 405 407 409 411 413 415 417 419 421 423 425 427 429 431 433 435 437 439 441 443 445 447 449 451 453 455 457 459 461 463 465 467 469 471 473 475 477 479 481 483 485 487 489 491 493 495 497 499 501 503 505 507 509 511 513 515 517 519 521 523 525 527 529 531 533 535 537 539 541 543 545 547 549 551 553 555 557 559 561 563 565 567 569 571 573 575 577 579 581 583 585 587 589 591 593 595 597 599 601 603 605 607 609 611 613 615 617 619 621 623 625 627 629 631 633 635 637 639 641 643 645 647 649 651 653 655 657 659 661 663 665 667 669 671 673 675 677 679 681 683 685 687 689 691 693 695 697 699 701 703 705 707 709 711 713 715 717 719 721 723 725 727 729 731 733 735 737 739 741 743 745 747 749 751 753 755 757 759 761 763 765 767 769 771 773 775 777 779 781 783 785 787 789 791 793 795 797 799 801 803 805 807 809 811 813 815 817 819 821 823 825 827 829 831 833 835 837 839 841 843 845 847 849 851 853 855 857 859 861 863 865 867 869 871 873 875 877 879 881 883 885 887 889 891 893 895 897 899 901 903 905 907 909 911 913 915 917 919 921 923 925 927 929 931 933 935 937 939 941 943 945 947 949 951 953 955 957 959 961 963 965 967 969 971 973 975 977 979 981 983 985 987 989 991 993 995 997 999 
Números pares desde 2 hasta 1000
2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100 102 104 106 108 110 112 114 116 118 120 122 124 126 128 130 132 134 136 138 140 142 144 146 148 150 152 154 156 158 160 162 164 166 168 170 172 174 176 178 180 182 184 186 188 190 192 194 196 198 200 202 204 206 208 210 212 214 216 218 220 222 224 226 228 230 232 234 236 238 240 242 244 246 248 250 252 254 256 258 260 262 264 266 268 270 272 274 276 278 280 282 284 286 288 290 292 294 296 298 300 302 304 306 308 310 312 314 316 318 320 322 324 326 328 330 332 334 336 338 340 342 344 346 348 350 352 354 356 358 360 362 364 366 368 370 372 374 376 378 380 382 384 386 388 390 392 394 396 398 400 402 404 406 408 410 412 414 416 418 420 422 424 426 428 430 432 434 436 438 440 442 444 446 448 450 452 454 456 458 460 462 464 466 468 470 472 474 476 478 480 482 484 486 488 490 492 494 496 498 500 502 504 506 508 510 512 514 516 518 520 522 524 526 528 530 532 534 536 538 540 542 544 546 548 550 552 554 556 558 560 562 564 566 568 570 572 574 576 578 580 582 584 586 588 590 592 594 596 598 600 602 604 606 608 610 612 614 616 618 620 622 624 626 628 630 632 634 636 638 640 642 644 646 648 650 652 654 656 658 660 662 664 666 668 670 672 674 676 678 680 682 684 686 688 690 692 694 696 698 700 702 704 706 708 710 712 714 716 718 720 722 724 726 728 730 732 734 736 738 740 742 744 746 748 750 752 754 756 758 760 762 764 766 768 770 772 774 776 778 780 782 784 786 788 790 792 794 796 798 800 802 804 806 808 810 812 814 816 818 820 822 824 826 828 830 832 834 836 838 840 842 844 846 848 850 852 854 856 858 860 862 864 866 868 870 872 874 876 878 880 882 884 886 888 890 892 894 896 898 900 902 904 906 908 910 912 914 916 918 920 922 924 926 928 930 932 934 936 938 940 942 944 946 948 950 952 954 956 958 960 962 964 966 968 970 972 974 976 978 980 982 984 986 988 990 992 994 996 998 1000

#Ejercicio 3

In [14]:
#Imprimir los números pares en forma descendente hasta 2 que son menores o iguales a un número natural n ≥ 2 dado
n=int(input("Ingrese un número mayor o igual a 2: "))#Entrada de datos
if n>=2:#Condición para la lista
  if n%2==0:
    c=n
  else:
     c=n-1
  while c>=2:#Inicio del bucle
    print (c)
    c=c-2#Resto 2 para que sigan apareciendo números pares

Ingrese un número mayor o igual a 2: 23
22
20
18
16
14
12
10
8
6
4
2

#Ejercicio 4

In [19]:
def main():
  n = int(input("Ingrese un numero: ")) #Definir el numero n

  def factorial(n):
    factoriales: int = 1 #se inicializa en 1

    for i in range (1, n+1):
      factoriales *= i #La variable "factoriales" se multiplica por i en cada iteracion
    return factoriales
  for a in range (1, n+1):
      print("el factorial de", a,"es", factorial (a)) #Imprime un bucle for nuevo, junto al resultado de la funcion factorial
if __name__=="__main__":
  main()

Ingrese un numero: 8
el factorial de 1 es 1
el factorial de 2 es 2
el factorial de 3 es 6
el factorial de 4 es 24
el factorial de 5 es 120
el factorial de 6 es 720
el factorial de 7 es 5040
el factorial de 8 es 40320

#Ejercicio 5

In [21]:
def main():
  n = int(input("Ingrese el valor del exponente: "))
  potencia = 1


  for i in range (n):
    potencia *= 2

  print ("El resultado de 2 a la", n,"es", potencia)

if __name__=="__main__":
  main ()

Ingrese el exponente: 2
El resultado de 2 a la 2 es 4

#Ejercicio 6

In [24]:
def main():
  x = int(input("Ingrese el valor de la base: "))
  n = int(input("Ingrese el valor del exponente: "))
  potencia = 1


  for i in range (x):
    potencia *= n
  print ("El resultado de",x,"a la", n,"es", potencia)

if __name__=="__main__":
  main ()

Ingrese el valor de la base: 2
Ingrese el valor del exponente: 2
El resultado de 2 a la 2 es 4

#Ejercicio 7

In [26]:
def main():
  for i in range (1,10):
    print ("\n")
    print ("tabla del ", i)

    for a in range (1,11):
      print(i,"x", a,"=", i*a)

if __name__=="__main__":
  main()

tabla del  1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10


tabla del  2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20


tabla del  3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30


tabla del  4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40


tabla del  5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50


tabla del  6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60


tabla del  7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70


tabla del  8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80


tabla del  9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

#Ejercicio 8

In [30]:
import math
def taylor (x, y):
  total = 0
  for i in range(y+1): #Definimos el rango
    total += x**i / facto(i)
  return total

def facto(y): #encontrar el factorial
  if y == 0:
    return 1
  factorial = 1
  for i in range(1, y + 1):
    factorial *= i
  return factorial


def main():
  #solicitar valores
  x = float (input("Ingrese x: "))
  y = int(input("Ingrese el numero de terminos: "))

    #Ponemos el condicional
  if x < 0:
    print("NUmero no valido")
    return

  aproximacion = taylor(x,y)
  valor_real = math.exp(x)
  difrencia = abs(valor_real - aproximacion)

  print("El valor real de e a la", x,"es", valor_real)
  print("El valor aproximado de e a la", x,"usando", y,"terminos", aproximacion)
  print("La diferencia absoluta es", difrencia)


if __name__=="__main__":
  main()

Ingrese x: 1
Ingrese el numero de terminos: 4
 El valor real de e a la 1.0 es 2.718281828459045
El valor aproximado de e a la 1.0 usando 4 terminos 2.708333333333333
La diferencia absoluta es 0.009948495125712054

#Ejercicio 9

In [31]:
import math

# Calculamos el factorial de un número
def factorial(n):
    if n == 0:
        return 1
    fact = 1
    for i in range(1, n + 1):
        fact *= i
    return fact

# Calculamos la función seno usando la serie de Maclaurin
def maclaurin_sin(x, n):
    result = 0
    for i in range(n + 1):
        term = (-1) ** i * x ** (2 * i + 1) / factorial(2 * i + 1)
        result += term
    return result

def main():
    # Leemos los valores de x y n
    x = float(input("Ingrese el valor de x: "))
    n = int(input("Ingrese el número de términos n: "))

    if n < 0:
        print("El número de términos n debe ser un entero no negativo.")
        return

    # Calculamos la aproximación y el valor real
    approx = maclaurin_sin(x, n)
    real = math.sin(x)
    difference = abs(real - approx)

    # Mostramos los resultados
    print(f"Valor aproximado de sin({x}) usando {n} términos: {approx}")
    print(f"Valor real de sin({x}): {real}")
    print(f"Diferencia absoluta: {difference}")

# Ejecutamos la función principal
if __name__ == "__main__":
    main()

Ingrese el valor de x: 3.1415926536
Ingrese el número de términos n: 4
Valor aproximado de sin(3.1415926536) usando 4 términos: 0.006925270697542493
Valor real de sin(3.1415926536): -1.0206823934513925e-11
Diferencia absoluta: 0.006925270707749317